

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    scroll-behavior: smooth;
}


.all-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

.middle-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}
nav{
    position: fixed;
    width: 100%;
}
.navbar {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: .3px solid rgb(160, 160, 160);
}
.navlist {
    display: flex;
    list-style: none;
    /* padding: 0 20px; */

}


.navlist a:hover{
    color: rgb(191, 191, 191);
    background: gray;
    
    
}
.navlist li a{
    border-radius: 15px;
    padding: 10px;
}
.navlist a {
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
    color: black;
    padding: 0 20px;
    transition: .3s ease-in-out;
}
p.logo{
    font-size: 30px;
    font-weight: bold;
}

p.logo .name {
    color: white;
    background-color: gray;
    padding: 3px;
    border-radius: 15px 0 50px 0;
}

p.logo .surname {
    color: white;
    background-color: crimson;
    border-radius: 60px 0 10px 5px;
}

.image-container img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.top-container {
    display: flex;
    flex-direction: row;
    padding-top: 110px;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}
.top-container h3 {
    font-size: 25px;
}
.top-wrapper{
    border: .3px solid gray;
}

.top-container h3 {
    padding: 10px
}
img.image-container{
    width: 180px;
    height: 150px;
    object-fit: cover;
}

.middle-container {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    align-items: center;
}
.mid-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: center;
    text-align: flex-start;
}
.mid{
    display: flex;
}
.mid-container h4 {
    font-size: 22px;
    margin: 20px 0 10px 0;
}
.mid-image{
    float: left;
    padding: 0 10px 10px 0;
}
.subtitle{
    align-self: flex-start;
    justify-self: flex-start;
}
.top-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p.bio {
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
.content-wrapper{
    max-width: 700px;
    padding: 5px;
}
.bottomImage{
    width: 200px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
    float: left;
}
.sub {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;;
}
.one{
    max-width: 700px;
    padding: 15px;
    text-justify: auto;
}

.one,.two p{
    color: rgb(73, 73, 73);
    font-weight: bold;
}



.bottom-container {
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: space-around;
}

.bottom-wrapper {
    border-right: 1px solid rgb(199, 199, 199);
    text-align: center;
}
.bottom-wrapper h4 {
    margin-bottom: 7px;
    border-bottom:.3px solid rgb(206, 206, 206) ;
    padding-bottom: 10px;
}
.bottom-content{
    border-radius: 15px;
    padding: 10px;
}
.bottom-container-wrapper{
    display: flex;
    flex-direction: row;
}

.content-wrapper p{
    text-align: left;
}
.bottom-container-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
    margin: 20px 0 50px 0; 
}


/* footer */
footer{
    border-top: .3px solid rgb(192, 192, 192);
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
img.footerLogo {
    width: 70px
}
img.codex{
    width: 80px
}

.mid-footer{
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}
.mid-footer p{
    font-weight: bold;
    color:rgb(143, 143, 143);
}
/* Media Query */

@media only screen and (max-width: 1000px){
    .all-wrapper{
        width: 100%;
    }
    .middle-container {
        width: 100%;
        align-items: center;

    }
    .mid-container {
        align-items: center;
    }    
    ul.navlist {
        display: none;
    }
    .top-container {
        flex-direction: column;

    }
    .mid-container{
        flex-direction: column;
        padding: 5px 0;
        border-bottom: .3px solid gray;
    }
    p.subtitle{
        max-width: 100px;
    }
    .bottom-container-wrapper{
        flex-direction: column;
    }
    .bottom-wrapper{
        border: none;
        padding: 10px;
        margin: 10px 0;
    }
    .bottomImage{
        max-width: 320px;
        height: 150px;
    }
    .content-wrapper p {
        max-width: 400px;
    }
    .reverse {
        float: left;
    }
    .footer{
        display: flex;
        background-color: rgb(116, 116, 116);
        flex-direction: column;
        justify-content: center;
    }
    .footerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        padding: 0 10px;
    }
    .top p{
        font-weight: bold;
    }
    .mid p{
        font-weight: bold;
        color: rgb(14, 14, 14)
    }
        .something-table tr td, .something-table tr th{
        max-width: 340px;
        padding: 5px;
        margin: 10px;
        text-align: center;
    }
    
}   

/* Landing page */

.landingContainer {
    display: flex;
    flex: 1;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 211, 176);
}
.buttonsContainer {
    display: flex;
}
.buttons {
    padding: 10px;
    text-align: center;
}

.button {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    list-style: none;

}

p.project {
    color: rgb(79, 79, 79);
    font-size: 18px;
    font-weight: bold;
}
.button li {
    margin: 30px;
}
.button a{
    cursor: pointer;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    text-decoration: none;
    border: .3px solid gray;
    padding: 10px 20px;
    background-color: rgb(63, 62, 62);
    transition: .3s ease-in
}

.button a:hover {
    color: black;
    background-color:  rgb(221, 221, 221);
}


/* Landing main container */
.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

@media only screen and (max-width: 700px){
    .top-container h3 {
        font-size: 18px;

    }
    .buttonsContainer {
        flex-direction: column;
    }
    .mid {
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .one{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .middle-container{
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255);
        margin-top: 30px;
    }
    .mid-container{
        width: 500px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .mid-container p {
        font-weight: lighter;
    }
    .mid img{
        border-radius: 15px;
     }
     .one img {
        border-radius: 0px;
        width: 300px;
     }
    .mid-container h4 {
        font-size: 16px;
    }

    .one p {
        width: 280px;
    }
    .gap {
    border: .1px solid rgb(116, 116, 116);
    }
    .something-table tr td, .something-table tr th{
        max-width: 150px;
        padding: 5px;
        text-align: center;
    }


    .turn {
        float: left;
        
    }
    .reverse{
        flex-direction: row-reverse;
    }
    .gap {
    border: .3px solid rgb(116, 116, 116);
    padding: 0px
    }
        .mid-footer{
        flex-direction: column;
        align-self: flex-start;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        margin-bottom: 5px;
    }
    .reverse {
        float: right;
    }
}

.something {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
p.subtitle {
    max-width: 400px;
    margin: 5px auto 20px auto;
}



.something-table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.something-table tr td, .something-table tr th{
    height: 40px;
    width: 485px;
    padding: 5px;
    text-align: center;
}

/* For small viewports */


@media only screen and (max-width: 450px){
    p.subtitle {
        width: 160px;
    }

    .something-table tr td, .something-table tr th{
        max-width: 130px;
        text-align: center;
    }

    .reverse {
        float: left;
    }

    .reversed {
        float: right;
    }
}