.container {
    padding-top: 120px;
}
nav{
    position: fixed;
    width: 100%;
}
.navbar {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: .3px solid rgb(160, 160, 160);
    z-index: 99999;
}

.historical-city-image {
    float: left;
    width: 150px;
}


.vertical-line {
    border-right: .3px solid gray;
}
p.logo{
    font-size: 30px;
    font-weight: bold;
}

p.logo .name {
    color: white;
    background-color: gray;
    padding: 3px;
    border-radius: 15px 0 50px 0;
}

p.logo .surname {
    color: white;
    background-color: crimson;
    border-radius: 60px 0 10px 5px;
}

.image-container {
    margin: 10px;
}
.image-container {
    width: 180px;
    height: 150px;
    object-fit: cover;
}


/* footer */
footer{
    border-top: .3px solid rgb(192, 192, 192);
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
img.footerLogo {
    width: 70px
}
img.codex{
    width: 80px
}

.mid-footer{
flex-direction: column;
align-self: flex-start;
align-items: flex-start;
justify-content: center;
text-align: center;
margin-bottom: 5px;
}

/* Media Query */

@media only screen and (max-width: 1000px){

    .footer{
        display: flex;
        background-color: rgb(116, 116, 116);
        flex-direction: column;
        justify-content: center;
    }
    .footerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        padding: 0 10px;
    }
}   


